<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bh.uhome.bhuhome">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".app.AppApplication"
        android:hardwareAccelerated="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name="com.bh.uhome.bhuhome.activity.loginmoudle.launch.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.bh.uhome.bhuhome.activity.loginmoudle.login.ChangePasswordActivity"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name="com.bh.uhome.bhuhome.activity.loginmoudle.login.RegisterActivity"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name="com.bh.uhome.bhuhome.activity.loginmoudle.login.FindPasswordActivity"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name="com.bh.uhome.bhuhome.activity.loginmoudle.login.FastCodeCheckActivity"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name="com.bh.uhome.bhuhome.activity.loginmoudle.login.FastEnterActivity"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name="com.bh.uhome.bhuhome.fragment.MainFrament"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.bh.uhome.bhuhome.activity.loginmoudle.guide.GuideActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.bh.uhome.bhuhome.activity.loginmoudle.login.LoginNewActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.bh.uhome.bhuhome.activity.loginmoudle.home.HomeActivity"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".activity.mine.AboutUsActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.mine.SettingActivity"
            android:screenOrientation="portrait"></activity>

        <!--萤石云组件-->
        <activity
            android:name="com.videogo.main.EzvizWebViewActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity
            android:name=".activity.main.cameralist.EZRealPlayActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
        </activity>



        <receiver
            android:name=".broadcast.EzvizBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.videogo.action.OAUTH_SUCCESS_ACTION" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name=".service.UpdateVersionService" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.bh.uhome.bhuhome.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- "访问WiFi网络状态"权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- "访问数据网络状态"权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- "改变网络状态"权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
</manifest>